APP_MODE=webhook
BOT_TOKEN=
PUBLIC_BASE_URL=
WEBHOOK_SECRET=
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
DOWNLOAD_DIR=./downloads
MAX_FILE_MB=45
MAX_DURATION_SECONDS=7200
ALLOWED_DOMAINS=youtube.com,youtu.be,facebook.com,fb.watch,instagram.com
PORT=8000
